
.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
  }
  .select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: lightgrey;
  }
  .select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    /* font-size: 20px; */
    /* font-weight: 300; */
    color: #3b3b3b;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    cursor: pointer;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: lightgrey;
  }

  #selectedSpan{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

  .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid lightgrey;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }
  .select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .custom-option {
    position: relative;
    display: block;
    padding: 0 1em 0 1em;
    /* font-size: 22px; */
    /* font-weight: 300; */
    color: #3b3b3b;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .custom-option:hover {
    cursor: pointer;
    background-color: #dbdada;
  }
  .custom-option.selected {
    color: #ffffff;
    background-color: #8b8484;
  }

  .custom-option.selected .select-a{
    color: #ffffff;
  }

  .custom-option .select-a:hover{
    color: red;
  }

  .arrow {
    position: relative;
    height: 1em;
    width: 1em;
  }
  .arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
  }
  .arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: grey;
  }
  .arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: grey;
  }
  .open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
  }
  .open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
  }