{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron container-fluid p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
      <div class="d-flex align-items-center">
        <h1 class="display-2"><img class="logo" src="../static/assets/spain.png"></h1>
        <h1 class="display-2">-Sum</h1>
      </div>
      <p class="lead">Summarize your texts using fine-tuned state of the art Spanish language models.</p>
      <hr class="my-4">
      <p>
        <a class="btn btn-lg btn-primary" role="button"
          href="./summarize" >Get started</a>
      </p>
    </div>
  </div>
{%- endblock %}
