{%- extends "base.html" %}

{% block title %}
Automatic abstractive summarization
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='custom_select.css')}}" />
{% endblock %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<div class="container container-body">
    <div class="jumbotron container-fluid p-5 bg-light">
        <!-- bg-light is background color & p-5 is padding -->
        <h1 class="display-2">Automatic abstractive text summarization</h1>
        <p class="lead">Get your text summarized by using high-performant models.</p>
    </div>
    <div id="liveAlertPlaceholder"></div>
    <!-- <form id="summarizationForm" class="needs-validation" novalidate> -->
    <form id="summarizationForm" onsubmit="generateSummary(event)">
        <div class="mb-4">
            <label for="selectModel" class="form-label">Select a fine-tuned model</label>
            <div class="select-wrapper">
                <div class="select">
                    <div class="select__trigger form-control"><span name="selectedModel" id="selectedSpan"></span>
                        <div class="arrow"></div>
                    </div>
                    <div class="custom-options">
                        {% for model in models %}
                            <div class="d-flex custom-option justify-content-between" data-value="{{model}}">{{model}} <a class="select-a" href="{{url_for('.models')}}/{{model}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Model information"><i class="bi bi-info-circle"></i></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 me-2 mb-4">
            <div class="d-flex justify-content-start align-items-baseline">
                <label for="summary_length" class="form-label">Length of the summary</label>
                <div class="pt-2 ps-2 pb-2">
                    <span class="badge bg-info text-dark">Current value: <span name="summaryLength"
                            id="summaryLength">80</span></span>
                </div>
            </div>
            <input name="summary_length" id="summary_length" type="range" class="form-range" value="80" min="20"
                max="100">
        </div>
        <div class="row">
            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-12 mt-0">
                <div class="d-flex justify-content-between">
                    <label for="article" class="form-label">Text to summarize</label>
                    <div class="btn-group" role="group" aria-label="Copy-paste utils">
                        <button type="button" onclick="copyToClipboard('article')"
                            class="form-label btn btn-outline-primary btn-sm" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Copy to clipboard">Copy</button>
                        <button type="button" onclick="pasteFromClipboard('article')"
                            class="form-label btn btn-outline-primary btn-sm" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Paste from clipboard">Paste</button>
                    </div>
                </div>
                <textarea class="form-control" name="article" id="article" rows="8" required minlength="20"></textarea>
                <!-- <div class="invalid-feedback"></div> -->
            </div>
            <div id="summaryCol" class="form-group col-xl-6 col-lg-6 col-md-6 col-12 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-4 ">
                <div class="d-flex justify-content-between">
                    <label for="summary" class="form-label">Summary</label>
                    <button id="copySummary" type="button" onclick="copyToClipboard('summary')"
                        class="form-label btn btn-outline-primary btn-sm" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Copy to clipboard">Copy</button>
                </div>

                <textarea class="form-control" id="summary" rows="8" readonly></textarea>

                <div id="summaryLoading" class="editable" contenteditable="false" style="display: none;">
                    <p class="placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-2"></span>
                        <span class="placeholder col-10"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-2"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-2"></span>
                    </p>
                </div>
            </div>
        </div>
        <button id="loadingBtn" class="btn btn-primary mt-4" type="button" disabled style="display:none;">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
        <button id="submit" class="btn btn-primary mt-4" type="submit">Generate summary</button>
    </form>
</div>
<script>
    function switchSummaryLoadingText() {
        if (document.getElementById('summary').style.display != "none") {
            $("#summary").css('display', 'none');
            $("#summaryLoading").css('display', 'block');
            $("#copySummary").button("disable");
            $("#copySummary").prop("disabled", true);
        } else {
            $("#summary").css('display', 'block');
            $("#summaryLoading").css('display', 'none');
            $("#copySummary").prop("disabled", false);
            $("#copySummary").button("enable");
        }
    }
</script>
<script>
    var rangeslider = document.getElementById("summary_length");
    var slidervalue = document.getElementById("summaryLength");
    var current;

    rangeslider.oninput = function () {
        document.getElementById('summaryLength').innerHTML = this.value;
        current = this.value;
    }
</script>
<script>
    function generateSummary(event) {
        event.preventDefault();
        document.getElementById('submit').style.display = "none";
        document.getElementById('loadingBtn').style.display = "block";
        switchSummaryLoadingText();
        alert('Summary generation may take a while. Beware that generation time increases with text input and desired summary length.', 'primary', fade = false);
        let summary_length = document.getElementById('summary_length').value;
        let article = document.getElementById('article').value;
        let selectedModel = document.querySelector('.select__trigger span').textContent;

        $.ajax({
            url: '/compute_summary',
            method: 'POST',
            data: { article, summary_length,  selectedModel}
        }).done((summary) => {
            closeAlert("alertWrapper")
            document.getElementById('summary').innerText = summary;
            alert('Summary generated!', 'success');
        }).fail((error) => (alert('An error has occurred during the transaction' + error, 'danger', fade=false)))
        .always(function() {
            document.getElementById('submit').style.display = "block";
            document.getElementById('loadingBtn').style.display = "none";
            switchSummaryLoadingText();
        });
    }
</script>
<script>
    function closeAlert(id) {
        $("#" + id).alert('close');
    }
    function alert(message, type, fade = true) {
        var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
        const alertTypeIcons = { success: "check-circle-fill", primary: "info-fill", danger: "exclamation-triangle-fill" };
        var wrapper = document.createElement('div')
        wrapper.innerHTML = '<div id="alertWrapper" class="alert alert-' + type + ' d-flex align-items-center alert-dismissible" role="alert"> <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#' + alertTypeIcons[type] + '"/></svg><div>' + message + '</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
        alertPlaceholder.append(wrapper)
        if (fade) {
            $("#alertWrapper").fadeTo(2000, 500).slideUp(500, function () {
                $(this).alert('close');
            });
        }
    }

    function copyToClipboard(from) {
        /* Get the text field */
        var copyText = document.getElementById(from);

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value).then(function () {
            /* Alert the copied text */
            alert("Text copied to clipboard ", 'success');
        }, function (err) {
            alert("Could not copy to clipboard", 'danger');
        });
    }

    function pasteFromClipboard(from) {
        navigator.clipboard
            .readText()
            .then(
                cliptext => {
                    $("#" + from).text($("#" + from).text() + cliptext)
                    console.log('cliptext ' + document.getElementById(from).value + cliptext)
                },
                err => console.log(err)
            );
    }
</script>

<!-- Scripts for complex select items -->
<script>
    document.querySelector('.select-wrapper').addEventListener('click', function() {
      this.querySelector('.select').classList.toggle('open');
  });

  for (const option of document.querySelectorAll(".custom-option")) {
    option.addEventListener('click', function() {
        if (!this.classList.contains('selected')) {
            this.parentNode.querySelector('.custom-option.selected').classList.remove('selected');
            this.classList.add('selected');
            this.closest('.select').querySelector('.select__trigger span').textContent = this.textContent;
        }
    })
  }
  window.addEventListener('click', function(e) {
      const select = document.querySelector('.select')
      if (!select.contains(e.target)) {
          select.classList.remove('open');
      }
  });


  (function () {
    console.log('code run');
    // Get first custom-option and add selected tag
    option = document.querySelector(".custom-option")
    option.classList.add('selected')
    document.querySelector('.select__trigger span').textContent = option.attributes["data-value"].textContent;
  })();
  </script>
{% endblock %}